div:hover{
    border: 4px solid black;
}

div:nth-of-type(1) h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}

div:nth-of-type(2){
    background-color: Thistle;
}

div:nth-of-type(3){
    background-color: ghostwhite;
}

div:nth-of-type(4){
    background-color: darkgreen;
}

div:nth-of-type(5){
    color: aqua;
}

div:nth-of-type(1){
    background-color: Crimson;
}

div:nth-of-type(2){
    background-color: Thistle;
}

div:nth-of-type(3){
    background-color: ghostwhite;
}

div:nth-of-type(4){
    background-color: darkgreen;
}

div:nth-of-type(5){
    color: aqua;
}


